<div class="logo-content">
    <span class="logo" [routerLink]="['/home-page']">BEA</span>
    
</div>
<div class="basic-information">
    <h3>Email</h3>
    <p>sacal.beata@yahoo.ro</p>
    <h3>Phone</h3>
    <p>+40 740 412 320</p>
    <h3>Find Me On</h3>
    <div class="icons">
        <a href="https://www.linkedin.com/in/krisztina-beata-sacal-b4064a116/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/beatasacal" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
</div>