<div class="details-container">
    <div class="img-container">
        <div class="profile-picture"></div>
    </div>
    <div class="details-content">
        <h2>Krisztina - Beata <br><span class="last-name">Sacal</span></h2>
        <h4>Web Developer</h4>
        <p>I`m Sacal Krisztina Beata, a huge Angular lover, but I also enjoy .NET. A 25-year-old living in an amazing city in Romania, in Cluj-Napoca.</p>
        <button class="main-btn">Portfolio</button>
        <button class="blank-btn" [routerLink]="['/resume-page']">Resume</button>
    </div>
</div>