@import '../../../scss/variables';

.details-container {
    width: 100%;
    height: 100%;

    .img-container {
        width: 40%;
        height: 100%;
        float: left;
    
        .profile-picture {
            margin-top: 100px;
            margin-left: -200px;
            position: relative;
            width: 420px;
            height: calc(100% - 180px);
            background: url('../../../assets/ggggg.png') no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    
        
    }
    
    
    .details-content {
        margin-left: 25%;
        vertical-align: top;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        float: left;
        max-width: 350px;
        width: 60%;
        
        h2 {
            text-transform: uppercase;
    
            .last-name {
                color: $dark-grey;
            }
        }
    
        p {
            margin-bottom: 35px;
        }
        
    
        .main-btn {
            margin-right: 35px;
            background-color: $dark-turquoise;
            border: none;
            text-decoration: none;
            padding: 16px 25px;
            border-radius: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 540;
            color: $white;
        }

        .main-btn:hover {
            background-color: $grey;
            border: 1px solid $dark-grey;
            padding: 14px 27px;
            color: $dark-grey;
            font-weight: 550;
        }
    
        .blank-btn {
            margin-left: 35px;
            background-color: $white-turquoise;
            border: 2px solid $dark-turquoise;
            text-decoration: none;
            padding: 14px 27px;
            border-radius: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 550;
            color: $dark-turquoise;
            cursor: pointer;
        }

        .blank-btn:hover {
            background-color: $grey;
            border: 2px solid $dark-grey;
            color: $dark-grey;
            border-radius: 32px;
            transition-duration: 0.6s;
        }
    }
}
