/* You can add global styles to this file, and also import other style files */
@import './scss/variables';

html,body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: $light-turquoise;
}

.page {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.info {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;
}

.main {
    background-color: $white-turquoise;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    float: left;
}