<div class="home">
    
    <section class="info">
        <div class="logo-content">
            <span class="logo">BEA</span>
        </div>
        <div class="basic-information">
            <h3>Email</h3>
            <p>sacal.beata@yahoo.ro</p>
            <h3>Phone</h3>
            <p>+40 740 412 320</p>
            <h3>Find Me On</h3>
            <div class="icons">
                <a href="Facebook.com"><i></i></a>
                <a href="linkedIn.com"><i></i></a>
                <a href="https://github.com/beatasacal"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="profile-picture">

        </div>
        <div class="menu">
            
        </div>
        <div class="details-content">
            <h2>Krisztina - Beata <br>Sacal</h2>
            <h4>Web Developer</h4>
            <p>I`m Sacal Krisztina Beata, a huge Angular lover, but also enjoy .NET. A 25-year-old living in an amazing city in Romania, in Cluj-Napoca.</p>
            <button class="main-btn">Portfolio</button>
            <button class="blank-btn">Resume</button>
        </div>
        
    </section>
</div>
