<div class="resume-content">
    <h2>EDUCATION</h2>
    <table>
        <tr>
            <td>
                <h4>MASTER DEGREE</h4> 
                UNIVERSITY OF BABES-BOLYAI <br>
                Business Modelling and Distributed Computing <br>
                Session: 2017-2019
            </td>
            <td>
                <h4>BACHELOR DEGREE</h4>
                UNIVERSITY OF BABES-BOLYAI <br>
                Economy of trade, tourism and services <br>
                Session: 2013-2017
            </td>
        </tr>
        <tr>
            <td>
                <h4>Intro in IT</h4>
                THE INFORMAL SCHOOL OF IT <br>
                Computer Architecture, Data structures and Algorithms, OOP principles, HTML, CSS, JavaScript, Databases - SQL, Software testing <br>
                Session: 2018
            </td>
        </tr>
    </table>

    <h2>WORK EXPERIENCE</h2>
    <table>
        <tr>
            <td>
                <h4>ANGULAR WEB DEVELOPER</h4>
                Fortech, Cluj Napoca <br>
                Period: 06/2019 - Present <br>
                <ul>
                    <li>Angular 6,Typescript, HTML, CSS, Boostrap, Kendo</li>
                    <li>.NET Core Web API</li>
                    <li>Microsoft SQL Server</li>
                    <li>Git used for version control and code reviews</li>
                    <li>Jira for task monitorization</li>
                    <li>Planning, analyzing, estimating</li>
                </ul>
            </td>
            <td>
                <h4>FULL STACK  WEB DEVELOPER INTERNSHIP</h4>
                Fortech, Cluj Napoca <br>
                Period: 03/2019 - 06/2019 <br>
                <ul>
                    <li>Code implementation, documenting, testing and inspecting at imposed standards</li>
                    <li>Specification analysis and effort assessment</li>
                    <li>Continual improvement and studying</li>
                    <li>Continuous development process improvement</li>
                    <li>Planning</li>
                    <li>Code reviewing</li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <h4>ACCOUNTS PAYABLE ANALYST</h4>
                Bombardier, Cluj Napoca <br>
                Period: 12/2016 - 11/2018 <br>
                The financial analyst role required activities as: reviewing and verifying invoices, researching and solving invoice discrepancies. There were different types of issues, such as: maintaining vendor files and responding to inquiries. Beside these responsibilities, this role required different monthly reports with predefined deadlines.
            </td>
        </tr>
    </table>
</div>